<a href="https://colab.research.google.com/github/devendrapandey2005/DSA-.PY/blob/main/7th_sem_python_aur_ml.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''write a program to input electrcity unit charges and calculate total electrcity bill
according to the given condition:

For first 50 units Rs. 0.50/unit

For next 150 units Rs. 0.75/unit

For next 250 units Rs. 1.20/unit

For unit above 450 Rs. 1.50/unit

An additional surcharge of 20% is added to the bill'''
units = float(input("Enter the number of electricity units consumed: "))
bill = 0
if units <= 50:
    bill = units * 0.50
elif units <=200:
  bill = 50*0.50+(units-50)*0.75
elif units <=450 :
  bill = 50*0.5+150*0.75+250*1.50+(units-450)*1.50

Enter the number of electricity units consumed: 5

In [ ]:
'''wap to print if number is divisible by 3 print fizz , number is divisible by 5 print buzz number is divisible by both 3,5 then print fizz and buzz'''
for i in range (1,21):
  if i%3 == 0 and i%5 ==0:
    print("fizz and buzz")
  elif i%3 == 0:
    print("fizz")
  elif i%5 == 0:
    print("buzz")
  else :
    print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizz and buzz
16
17
fizz
19
buzz

In [ ]:
'''wap which will print multiplication of all the even and odd the factor'''
num = int(input("enter the number = "))
even_factor = 1
odd_factor = 1
for i in range(1,num+1):
  if num%i == 0:
    if i%2 == 0:
      even_factor*=i
    else:
      odd_factor*=i
print(even_factor,odd_factor)

enter the number = 25
1 125

In [ ]:
'''determine the season based on month
3 <=month <=5; "spring "
6 <=month <=8; "summer"
9 <=month <=11; "autumn"
otherwise
winter'''
month = int(input("Enter the month (1-12): "))

if 3 <= month <= 5:
    season = "spring"
elif 6 <= month <= 8:
    season = "summer"
elif 9 <= month <= 11:
    season = "autumn"
else:
    season = "winter"

print(f"The season for month {month} is {season}")

Enter the month (1-12): 25
The season for month 25 is winter

In [ ]:
'''Write a python program which accept the kilometres covered and calculate the bill according to the following criteria:

First 10 Km > Rs11/km

Next 90Km Rs 10/km

After that > Rs9/km'''
kilometers = float(input("Enter the kilometers covered: "))
bill = 0

if kilometers <= 10:
    bill = kilometers * 11
elif kilometers <= 100:  # 10 + 90 = 100
    bill = (10 * 11) + ((kilometers - 10) * 10)
else:
    bill = (10 * 11) + (90 * 10) + ((kilometers - 100) * 9)

print(f"The total bill is Rs {bill:.2f}")

Enter the kilometers covered: 5
The total bill is Rs 55.00

In [ ]:
n = 1
while n<=19:
  print(n)
  n+=2

1
3
5
7
9
11
13
15
17
19

In [ ]:
''' wap take number from user and print all the factor of the number'''
'''num = int(input("Enter a number: "))

print(f"The factors of {num} are:")
for i in range(1, num + 1):
    if num % i == 0:
        print(i)'''
num = int(input("Enter a number: "))
i = 1
while i<=n:
  if n%i==0:
    print(i,end=" ")
  i+=1

Enter a number: 36
1 3 7 21

In [ ]:
# Sum of given digits
n = int(input("Enter the number: "))
temp = 0
while n != 0:
    r = n % 10
    temp += r
    n = n // 10  # Fix: added assignment
print("Sum of digits =", temp)

Enter the number: 36
Sum of digits = 9

In [ ]:
# Sum of given digits
n = int(input("Enter the number: "))
temp = 0
while n != 0:
    r = n % 10
    temp += r
    n = n // 10  # Fix: added assignment
print("Sum of digits =", temp)

Enter the number: 36
Sum of digits = 9

In [ ]:
# revrse the number
n = int(input("Enter the number: "))
temp = 0
while n != 0:
    r = n % 10
    temp*=10
    temp += r
    n = n // 10  # Fix: added assignment
print("Sum of digits =", temp)

Enter the number: 363
Sum of digits = 363

In [ ]:
# revrse the number
n = int(input("Enter the number: "))
n1= n
temp = 0
while n != 0:
    r = n % 10
    temp*=10
    temp += r
    n = n // 10
if n1 == temp:
  print("palindrom")
else:
  print("not palindrom")

Enter the number: 36
not palindrom

In [ ]:
'''wap which will take number from user and check number is narcissistic number'''
n = int(input("Enter the number: "))
n1= n
temp = 0
while n != 0:
    r = n % 10
    temp*=10
    temp += r
    n = n // 10
if n1 == temp:
  print("palindrom")
else:
  print("not palindrom")

Enter the number: 36
not palindrom

#LIST
CREATE,
UPDATE,
DELETE,
READ

In [ ]:
X = [1,2,3,4,5,6,7,8,9,10]
print(type(X))

<class 'list'>

In [ ]:
fruits  = [ "apple", "bannana","cherry","kiwi","guvava"]
print(fruits)
fruits[2] = 'watermalon'
print(fruits)
fruits.append("lala")
print(fruits)

['apple', 'bannana', 'cherry', 'kiwi', 'guvava']
['apple', 'bannana', 'watermalon', 'kiwi', 'guvava']
['apple', 'bannana', 'watermalon', 'kiwi', 'guvava', 'lala']

In [ ]:
fruits  = [ "apple", "bannana","cherry","kiwi","guvava"]
fruits.insert(-3,"watermalon")
print(fruits)

['apple', 'bannana', 'watermalon', 'cherry', 'kiwi', 'guvava']

In [ ]:
lst = ['one','two','three','four']
del lst[1]
print(lst)

['one', 'three', 'four']

In [ ]:
lst = ['one','two','three','four','five']
a = lst.pop(3)
print(lst)
print(a)

['one', 'two', 'three', 'five']
four

In [ ]:
lst = [1,2,3,4,5,6,7,8,9,1,0,77,89,44,'jiii']
print(lst)
lst.remove("jiii")
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 0, 77, 89, 44, 'jiii']
[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 0, 77, 89, 44]

In [ ]:
lst = [1,2,[1,1],3,4,5,6]
print(lst)
lst.remove(1)
print(lst)

[1, 2, [1, 1], 3, 4, 5, 6]
[2, [1, 1], 3, 4, 5, 6]

In [ ]:
numbers = [1,2,3,4,5,6,4,5,6]
print(numbers.count(4))

2

In [ ]:
num = [1,2,3,4,5,6,7,8,9,0]
num.reverse()
print(num)

[0, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
#through slicing
num = [1,2,3,4,5,6,7,8,9,0]
num[::-1]
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [ ]:
lst = [2,5,'apple',2]
lst.index(2)

0

In [ ]:
num = [11,12,13,14,15,16,17,20]
for i in range(len(num)):
  print(num)

[11, 12, 13, 14, 15, 16, 17, 20]
[11, 12, 13, 14, 15, 16, 17, 20]
[11, 12, 13, 14, 15, 16, 17, 20]
[11, 12, 13, 14, 15, 16, 17, 20]
[11, 12, 13, 14, 15, 16, 17, 20]
[11, 12, 13, 14, 15, 16, 17, 20]
[11, 12, 13, 14, 15, 16, 17, 20]
[11, 12, 13, 14, 15, 16, 17, 20]

In [ ]:

lst = [1,2,3,4,5,6,7,8,9,10]
even = odd = 0
for i in range(len(lst)):
  if i%2==0:
    print('number is even',i)
  else:
    print('odd number',i)

number is even 0
odd number 1
number is even 2
odd number 3
number is even 4
odd number 5
number is even 6
odd number 7
number is even 8
odd number 9

In [ ]:
#count of even number in given list
lst = [1,2,3,4,5,6,7,8,9,10]
even = odd = 0
for i in range(len(lst)):
  if lst[i]%2==0:
    even+=1
  else:
    odd+=1
print(even,odd)

5 5

In [ ]:
#wap which will take list as a input form user and +5 in even number and -3 in odd number
lst = [1,2,3,4,5,6,7,8,9,10]
print(lst)
even = odd = 0
for i in range(len(lst)):
  if lst[i]%2==0:
    lst[i]+=5
  else:
    lst[i]-=3
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[-2, 7, 0, 9, 2, 11, 4, 13, 6, 15]

In [ ]:
#wap which will take list as a input form user and +5 in even number and -3 in odd number
user_input = input("Enter the list of numbers separated by space: ")
lst = list(map(int, user_input.split()))

# Display the original list
print("Original list:", lst)

# Process the list: +5 to even numbers, -3 to odd numbers
for i in range(len(lst)):
    if lst[i] % 2 == 0:
        lst[i] += 5
    else:
        lst[i] -= 3

# Display the modified list
print("Modified list:", lst)

Enter the list of numbers separated by space: 36
Original list: [36]
Modified list: [41]

In [ ]:
lst = [3,5,7,9,2,8,11,15,12,14]
#output = [5,3,9,7,8,2,15,11,14,12]
for i in range(0, len(lst)-1,2):
  lst[i],lst[i+1] = lst[i+1] , lst[i]
print(lst)

[5, 3, 9, 7, 8, 2, 15, 11, 14, 12]

In [ ]:
#wap which print the largest element of the list
lst = [3,5,7,9,2,8,11,15,12,14]
print(max(lst))

15

In [ ]:
##wap which print the largest element of the list
lst = [3,5,7,9,2,8,11,15,12,14]
temp = lst[0]#this is the index number
for i in range(len(lst)):
  if lst[i]>temp:
    temp=lst[i]
print(temp)

15

In [ ]:
lst = [3,5,7,9,2,8,11,15,12,14]
max1 = lst[1]
max2 = lst[0]
for i in range(2,len(lst)):
  if lst[i]>max1:
    max2=max1
    max1=lst[i]
  elif lst[i]>max2:
    max2=lst[i]
print("second largest number is",max2)

second largest number is 14

In [ ]:
lst = [ 25,3,2,20,8,15,6,12,10]
lst.reverse()
lst1 = [lst[0]]
temp =lst[0]
for i in lst:
  if i>temp:
    temp=i
    lst1.append(temp)
print(lst1)
lst1.reverse()
print(lst1)

[10, 12, 15, 20, 25]
[25, 20, 15, 12, 10]

In [ ]:
lst = [3,5,7,2,8,9]
lst1 = []
for i in lst:
  lst1.append(i**2)
print(lst1)

[9, 25, 49, 4, 64, 81]

In [ ]:
#List comprihansion
lst = [3,5,7,2,8,9]
lst1 = [i**2 for i in lst]
print(lst1)

[9, 25, 49, 4, 64, 81]

In [ ]:
lst  = [3,5,-7,-8,12,-78,-89,78,-77]
lst1 = [i for i in lst if i >0]
lst2 = [i for i in lst if i <0]
print(lst1,lst2)

[3, 5, 12, 78] [-7, -8, -78, -89, -77]

In [ ]:
lst = [1,2,3,4,5,6,7,8,9,10]
lst1 = [i for i in lst if i%2 == 0]
print("even number = ",lst1)
lst2 = [i for i in lst if i%2 != 0]
print("odd number = ",lst2)

even number =  [2, 4, 6, 8, 10]
odd number =  [1, 3, 5, 7, 9]

sort function

In [ ]:
lst = [1,2,3,4,5,6,7,8,9,10]
lst.sort(reverse = True)
print(lst)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
lst = [1,2,3,4,5,8,7,8,9,10]
x = sorted(lst)
print(x)
print(lst)

[1, 2, 3, 4, 5, 7, 8, 8, 9, 10]
[1, 2, 3, 4, 5, 8, 7, 8, 9, 10]

In [ ]:
lst = [[3,5,7,9],[8,2,5,9],[7,3,5,8],[8,3,2]]
op_lst = []
for i in lst:
  op_lst.append(max(i))
print(op_lst)

[9, 9, 8, 8]

In [ ]:
lst = [[3,5,7,9],[8,2,5,9],[7,3,5,8],[8,3,2]]
odd_sums = []
for i in lst:
  sum = 0
  for number in i:
    if number % 2 != 0:
      sum += number
  odd_sums.append(sum)

print(odd_sums)

[24, 14, 15, 3]

In [ ]:
lst = [[1,2,3,4],[5,6,7,8],[9,10,11,12,13],[14,15,16,17]]
for i in range(0,len(lst)-1,2):
  for j in range(0,len(lst[i])-1,2):
    lst[i][j],lst[i+1][j]= lst[i+1][j],lst[i][j]
print(lst)

[[5, 2, 7, 4], [1, 6, 3, 8], [14, 10, 16, 12, 13], [9, 15, 11, 17]]

In [ ]:
tpl = ()
tpl1 = tuple()
tpl2 = ('jai hoo',1,2,3,4)
print(tpl,tpl1,tpl2)

() () ('jai hoo', 1, 2, 3, 4)

In [ ]:
tpl = (1,2,3,4,5,66,7,8,9)
print(tpl)

(1, 2, 3, 4, 5, 66, 7, 8, 9)

In [ ]:
tpl = (1,2,3,4,5,66,7,8,9)
print(id(tpl))
tpl+=(21,22,23,25)
print(id(tpl))

132035458952080
132035421379248

In [ ]:
print(dir(tpl))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [ ]:
tpl=[21,22,23,25]
print(tuple(tpl))

(21, 22, 23, 25)

In [ ]:
x = "let's learn python"
print(x[: : -3])
print(x[7 :: 4])
print(x[10 :])
print(x[: : 3])
print(x[-3: -10 :-5])
print(x[-2:])

nt a t
e h
n python
l'lrph
hn
on

In [ ]:
print("o" in "hello world")

True

In [ ]:
x = "PYHTON"
y = x.lower()
print(x)
print(y)

PYHTON
pyhton

In [ ]:
x = "python"
y = x.upper()
print(x)
print(y)

python
PYTHON

In [ ]:
str = "hello user how are you"
lst= str.split()
print(lst)

['hello', 'user', 'how', 'are', 'you']

In [ ]:
str = "0001-0003-0008"
lst= str.split(sep='-')
print(lst)

['0001', '0003', '0008']

In [ ]:
lst = ['0001','0002','0003']
str = " ".join(lst)
print(str)

0001 0002 0003

In [ ]:
date_str = input("enter the date (dd/mm/yyyy): ")
print(date_str)
new_date = date_str.split(sep = "/")
day = new_date[0]
month = new_date[1]
year  = new_date[2]
print("day",day)
print("month",month)
print("year",year)

enter the date (dd/mm/yyyy): 3/5/2025
3/5/2025
day 3
month 5
year 2025

In [ ]:
str1 = "hello everyone let's learn python"
lst = str1.split()
word = ""
for i in range(len(lst)):
  if len(lst[i])>len(word):
    word = lst[i]
print(word,len(word))

everyone 8

In [ ]:
str = input("enter the string = ")
if str == str[: : -1]:
  print("palindrom")
else:
  print("not palindrom")

enter the string = papa
not palindrom

In [ ]:
text = "hello ,everyone. let's, learn. python"
text = text.replace(".",",")
text = text.replace(",","#")
text = text.replace("#",".")
print(text)

hello .everyone. let's. learn. python

set yeh mutable hota hai , set apne andar imuteable veriable store krta hai, set unorder hota , set{} use krte hai , set muteable isliye kyunki hum usmein value add kr skte hai aur existing value ko delete kr skte hai

In [ ]:
st ={}
st = set()
st = {}

In [ ]:
s = set()
print(type(s))

<class 'set'>

In [ ]:
#without element ye {} dictonaryu create krega aur ek bhi value dedo toh yeh set ban jata hai
st = {}
print(type(st))

<class 'dict'>

In [ ]:
s = {1,2}
s.add(3)
print(s)

{1, 2, 3}

In [ ]:
st = {1,2,3}
st.update([1,2,3,4,5,6])
print(st)

{1, 2, 3, 4, 5, 6}

In [ ]:
st = {1,2,3}
st.remove(3)
print(st)

{1, 2}

In [ ]:
st = {1,2,3}
a=st.pop()
print(a)
print(st)

1
{2, 3}

In [ ]:
st = {1,2,3}
print(s)
s.clear()
print(S)

{1, 2, 3}

NameError: name 'S' is not defined

In [ ]:
# wap which will take string as input from user and count number of unique character  in that string
input_string = input("Enter a string: ")
unique_characters = set(input_string)
count = len(unique_characters)
print(f"The number of unique characters in the string is: {count}")

Enter a string: hello my name is robin
The number of unique characters in the string is: 13

In [ ]:
str1 = "hello my name is robin my is "
lst = str1.split()
str2=""
for i in lst:
  if i not in str2:
    str2 =str2+" "+i
print(str2)

 hello my name is robin

In [ ]:
set1 = {1,2,3,4,5,6,7}
set2 = {3,4,5,8,7,9,10}
a = set1 | set2#| this is for union
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
set1 = {1,2,3,4,5,6,7}
set2 = {3,4,5,8,7,9,10}
a = set1.union(set2)
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
set1 = {1,2,3,4,5,6,7}
set2 = {3,4,5,8,7,9,10}
a = set1.intersection(set2)
print(a)

{3, 4, 5, 7}

In [ ]:
set1 = {1,2,3,4,5,6,7}
set2 = {3,4,5,8,7,9,10}
a = set1 & set2 #& intersection ke liye use hota hai
print(a)

{3, 4, 5, 7}

In [ ]:
set1 = {1,2,3,4,5,6,7}
set2 = {3,4,5,8,7,9,10}
a = set1 - set2 # - diffrence ke liye use hota hai matlab woh element jo set1 mein hai set2 mein nhi
print(a)

{1, 2, 6}

In [ ]:
set1 = {1,2,3,4,5,6,7}
set2 = {3,4,5,8,7,9,10}
a = set1 ^ set2 # - diffrence ke liye use hota hai
print(a)

{1, 2, 6, 8, 9, 10}

In [ ]:
set1 =frozenset((1,2,3,4,5,6,7))
set2 =frozenset((3,4,5,8,7,9,1))
print(set1,"\n",set2)

frozenset({1, 2, 3, 4, 5, 6, 7})
 frozenset({1, 3, 4, 5, 7, 8, 9})

# Dictonary
1. immutable hota hai
2. only unique keys store krta hai
3. mix data type

In [ ]:
my_dict1 = {}
my_dict2 = {1:'abx',2: 'xyz'}
my_dict3 = {"name":"satish", "age": 20}
print(my_dict1,my_dict2,my_dict3)

{} {1: 'abx', 2: 'xyz'} {'name': 'satish', 'age': 20}

In [ ]:
# list of list
d1 = dict([[1,'abc'],[2,'code'],[3,'defr']])
print(d1)
#list of tuple
d2 = dict([('a',1),('b',2),('c',3)])
print(d2)
#list of set
d3 = dict([{'hii',23},{'byy',56},{'hello',55}])
print(d3)
#tuple of list
d4 = dict((['man',90],['woman',80]))
print(d4)

{1: 'abc', 2: 'code', 3: 'defr'}
{'a': 1, 'b': 2, 'c': 3}
{'hii': 23, 56: 'byy', 'hello': 55}
{'man': 90, 'woman': 80}

dict access

In [ ]:
my_dict = {'name':'robin','age':20,'add':'guntur'}
print(my_dict['add'])

guntur

In [ ]:
my_dict = {'name':'robin','age':20,'add':'guntur'}
print(my_dict.get('age'))

20

In [ ]:
my_dict = {'name':'robin','age':20,'add':'guntur'}
my_dict['name1'] = 'raju'#update krna
print(my_dict)

{'name': 'robin', 'age': 20, 'add': 'guntur', 'name1': 'raju'}

In [ ]:
my_dict = {'name':'robin','age':20,'add':'guntur'}
print(my_dict.pop('age')) # element delete krne ke liya
print(my_dict)

20
{'name': 'robin', 'add': 'guntur'}

In [ ]:
my_dict = {'name':'robin','age':20,'add':'guntur'}
a = my_dict.popitem() # delete krne ke liye yeh last element delete krta hai
print(a)
print(my_dict)

('add', 'guntur')
{'name': 'robin', 'age': 20}

In [ ]:
x = [3,4,5,6,7,8]
y = x
y[2] = 9
print(x,y)

[3, 4, 9, 6, 7, 8] [3, 4, 9, 6, 7, 8]

In [ ]:
x  = [ 4,8,9,2,7,5,99,]
y = x
y[3]=7777
print(x,y)

[4, 8, 9, 7777, 7, 5, 99] [4, 8, 9, 7777, 7, 5, 99]

In [ ]:
x  = [ 4,8,9,2,7,5,99,]
y = x.copy()
y[3]=7777
print(x,y)

[4, 8, 9, 2, 7, 5, 99] [4, 8, 9, 7777, 7, 5, 99]

In [ ]:
subject = {2:4,3:9,5:10}
print(subject.items())
print(subject.keys())
print(subject.values())

dict_items([(2, 4), (3, 9), (5, 10)])
dict_keys([2, 3, 5])
dict_values([4, 9, 10])

In [ ]:
subject = {2:4,3:9,5:10}
for k in subject.keys():
  print(subject[k],end = ',')

4,9,10,

In [ ]:
d = {3:5,4:7,8:10,9:11,12:35}# odd values mein 5 plus karo
for k in d.keys():
  if k%2 !=0:
    d[k] +=5
print(d)

{3: 10, 4: 7, 8: 10, 9: 16, 12: 35}

In [ ]:
d = {3:[1,2,3,4,6],4:[7,8,9,10],5:[2,3,4,7,8],6:[1,3,5,2]}
#count krna hai list mein present odd numbers ko
for key in d:
  odd_count = 0
  for number in d[key]:
    if number % 2 != 0:
      odd_count += 1
  d[key] = odd_count
print(d)

{3: 2, 4: 2, 5: 2, 6: 3}

In [ ]:
lst = (3,5,7,2,3,5,8,7,9,5,10,5,3)
#o/p ana chaiye ki number kitni baar repeat hua hai aur nayi dict banana hai
my_dict = {}
for item in lst:
  if item in my_dict:
    my_dict[item] +=1
  else:
    my_dict[item] = 1
print(my_dict)

{3: 3, 5: 4, 7: 2, 2: 1, 8: 1, 9: 1, 10: 1}

In [ ]:
d = {3:5,4:7,5:25,8:30,15:8}
x = max(d.keys())
print(x,d[x])
k1,v1 = 3,5
for k,v in d.items():
  if v>v1:
    k1=k
    v1=v
print(k1,v1)

15 8
8 30

In [ ]:
# dict comprihansion
d = {'a':1,'b':2,'c':3,'d':4}
new_dict = {k:v for k,v in d.items() if v>2}
print(new_dict)

{'c': 3, 'd': 4}

In [ ]:
# dict comprihansion
d = {'a':1,'b':2,'c':3,'d':4}
new_dict = {k+"c":v*2 for k,v in d.items() if v>2}
print(new_dict)

{'cc': 6, 'dc': 8}

In [ ]:
subject = {2:[42,3,4,56],3:[9,1,2,3,4],4:[16,2,3],5:[25,10,2]}
for k in subject.keys():
  subject[k]=sum(subject[k])
print(subject)

{2: 105, 3: 19, 4: 21, 5: 37}

In [ ]:
subject = {2:[42,3,4,56],3:[9,1,2,3,4],4:[16,2,3],5:[25,10,2]}
for key in subject:
  for i in range(len(subject[key])):
    subject[key][i] += 1
print(subject)

{2: [43, 4, 5, 57], 3: [10, 2, 3, 4, 5], 4: [17, 3, 4], 5: [26, 11, 3]}

In [ ]:
subject = {2:[42,3,4,56],3:[9,1,2,3,4],4:[16,2,3],5:[25,10,2]}
for k,v in subject.items():
  subject[k]=[i+1 for i in v]
print(subject)

{2: [43, 4, 5, 57], 3: [10, 2, 3, 4, 5], 4: [17, 3, 4], 5: [26, 11, 3]}

#FUNCTION

In [ ]:
def fact(n):
  temp = 1
  for i in range(1,n+1):
    temp*=i
  return temp
n = int(input("enter the n = "))
r =  int(input("enter the r = "))
n_fact=fact(n)
r_fact=fact(r)
n_min_r=fact(n-r)
ans=

In [ ]:
def print_info(name,id,age):
  print(name+id)
  print("age is ",age)
print_info("robin","rp5607",20)

robinrp5607
age is  20

In [ ]:
def prime(lst):
  prime_sum = 0
  for num in lst:
    if num > 1:
      is_prime = True
      for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
          is_prime = False
          break
      if is_prime:
        prime_sum += num
  return prime_sum

lst = [3, 2, 4, 5, 3, 7, 8, 9, 4, 3, 2, 1]
total_prime_sum = prime(lst)
print("The sum of prime numbers in the list is: ",{total_prime_sum})

In [ ]:
def check_prime(n):
  if n == 2 or n == 3 or n==5 or n==7:
    return True
  else :
    return False
lst = [3, 2, 4, 5, 3, 7, 8, 9, 4, 3, 2, 1]
ans = 0
for i in lst:
  if check_prime(i):
    ans+=i
print(ans)

25

#lambda function
. also known as anonimous function it has no name

In [ ]:
x = lambda n:n*n*n
print(type(x))
print(x(3))

<class 'function'>
27

In [ ]:
# take 3 number as  input from user and calculate average of the numbers
a = int(input("enter the number = "))
b = int(input("enter the number = "))
c = int(input("enter the number = "))
average = lambda x,y,z :(x+y+z)/3
print("average of numbers = ",average(a,b,c))

enter the number = 1
enter the number = 2
enter the number = 3
average of numbers =  2.0

In [ ]:
# take string as input from user and check string is start from a or not
y = lambda x:x[0] == 'a'
y('hello')

False

In [ ]:
x = lambda n: "even" if n%2==0 else "odd"
print(x(5))

odd

In [ ]:
# take input from user and check number is prime or not using lambda function
is_prime = lambda n: n > 1 and all(n % i != 0 for i in range(2, int(n**0.5) + 1))
num = int(input("Enter a number: "))
if is_prime(num):
  print(f"{num} is a prime number")
else:
  print(f"{num} is not a prime number")

Enter a number: 55
55 is not a prime number

True

map function

In [ ]:
lst = [1,2,3,4,5,6,7,8,9]
x = list(map(lambda x:x**2,lst))
print(x)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
lst = ['hello','coding','rich']
x = list(map(lambda x:x.upper(),lst))
print(x)

['HELLO', 'CODING', 'RICH']

fillter ()

* a fillter operation applies to all the function to all the element of a sequesnce . a sequence of those element for which function returns true is returned

In [ ]:
lst = [1,2,3,4,5,6,7,8,9]
var = list(filter(lambda x:x>4,lst))
print(var)

[5, 6, 7, 8, 9]

In [ ]:
# ek list of string lena hai aur unmein se jo a se start hai unko consider krna hai using filter
lst = ['hello','apple','appe','ausu']
a = list(filter(lambda x:x[0]=='a',lst))
print(a)

['apple', 'appe', 'ausu']

reduce

In [ ]:
from functools import reduce
l = [2,3,4,5,6,7,8,9]
y = reduce(lambda x,y:x+y,l)
print(y)

44

exception handling
try except

In [ ]:
try:
  lst = [12,3,14,5,6]
  print(lst[10])
except:
  print("index is out of range please enter the valid index")

index is out of range please enter the valid index

In [ ]:
#multiple except
try:
  lst = [12,12,13,13,14,15,16,17,180]
  print(lst[10])
  print(b)
  print(5/0)
except IndexError:
  print("enter valid index number ")
except NameEror:
  print("variable is not define")
except DivisionError:
  print("cannot divide by zero")

enter valid index number

In [ ]:
# find the kth max and min element of an array
num = (5,5,8,7,9,2,4,6,58,77)
sorted_num = sorted(num)
print(sorted_num)

[2, 4, 5, 5, 6, 7, 8, 9, 58, 77]

In [ ]:
# Find max and min of an array without using max() or min() using sorting
my_list = [5, 5, 8, 7, 9, 2, 4, 6, 58, 77]

The minimum element is: 2
The maximum element is: 77

In [ ]:
my_list = [5, 5, 8, 7, 9, 2, 4, 6, 58, 77]
if not my_list:
  print("The list is empty.")
else:
  maximum = my_list[0]
  minimum = my_list[0]
  for number in my_list[1:]:
    if number > maximum:
      maximum = number
    if number < minimum:
      minimum = number

  print(f"The minimum element is: {minimum}")
  print(f"The maximum element is: {maximum}")

The minimum element is: 2
The maximum element is: 77

In [ ]:
# Find the kth max and min element of an array using sorting
my_list = [5, 5, 8, 7, 9, 2, 4, 6, 58, 77]
k = 3 # Example: Find the 3rd maximum and minimum

if not my_list:
  print("The list is empty.")
elif k <= 0 or k > len(my_list):
  print(f"Invalid value for k: {k}. k must be between 1 and {len(my_list)}")
else:
  sorted_list = sorted(my_list)

  # Find the kth minimum element
  kth_minimum = sorted_list[k - 1]

  # Find the kth maximum element
  kth_maximum = sorted_list[-k]

  print(f"The {k}th minimum element is: {kth_minimum}")
  print(f"The {k}th maximum element is: {kth_maximum}")

The 3th minimum element is: 5
The 3th maximum element is: 9

In [ ]:
import pandas as pd
import numpy as np
s = pd.Series([1,2,3], index = ['a','b','x'])
print(s.values)

[1 2 3]

In [ ]:
s.name ='myseries'
print(s.name)

myseries

In [ ]:
print(s.size)

3

In [ ]:
print(s.shape)

(3,)

In [ ]:
#create a series for with unique  values
marks_series = pd.Series([90,85,78,92,88])
print(marks_series.is_unique)

True

In [ ]:
s_with_nan = pd.Series([1,2,None,4])
print(s_with_nan.isnull())
print(s_with_nan.notnull())

0    False
1    False
2     True
3    False
dtype: bool
0     True
1     True
2    False
3     True
dtype: bool

In [ ]:
data = pd.Series([10,20,30,40,50],index=['a','b','c','d','e'])
print(data)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [ ]:
print(data['c'])

30

In [ ]:
print(data.loc['c'])#name se access ke liye

30

In [ ]:
print(data.iloc[2])#index location se access krne ke liye

30

In [ ]:
print(data[['a','c','e']])#using label indexing

a    10
c    30
e    50
dtype: int64

In [ ]:
#using integer position or fancy indexing
print(data [[0,2,4]])
print()
print(data[[1,3]])
print()
print(data[[1,2,3]])

a    10
c    30
e    50
dtype: int64

b    20
d    40
dtype: int64

b    20
c    30
d    40
dtype: int64

/tmp/ipython-input-23-955853564.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(data [[0,2,4]])
/tmp/ipython-input-23-955853564.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(data[[1,3]])
/tmp/ipython-input-23-955853564.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(data[[1,2,3]])

##slicing
#it allows you to extract a subset of the series

In [ ]:
data = pd.Series([10,20,30,40,50],index = ['a','b','c','d','e'])
print(data)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [ ]:
print(data['b':'d'])

b    20
c    30
d    40
dtype: int64

In [ ]:
print(data[1:4])
print()
print(data[2:5])
print()
print(data[::-1])
print()
print(data[0::2])

b    20
c    30
d    40
dtype: int64

c    30
d    40
e    50
dtype: int64

e    50
d    40
c    30
b    20
a    10
dtype: int64

a    10
c    30
e    50
dtype: int64

BOOLEAN SLICING
### CONDITION BASED SLICING

In [ ]:
#get element grater than 25
print(data[data > 25])
print()
##get element less than 25
print(data[data < 25])
print()
#get element more than equal to 20
print(data[data >= 20])
print()
#get element more than equal to 20
print(data[data <= 20])
print()

c    30
d    40
e    50
dtype: int64

a    10
b    20
dtype: int64

b    20
c    30
d    40
e    50
dtype: int64

a    10
b    20
dtype: int64

In [ ]:
x = pd.Series(np.arange(1,25))
print(x)
#select all the even numbers
# all the odd numbers
#number divisible by both 2,4

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    23
23    24
dtype: int64

In [ ]:
# Select all the even numbers
even_numbers = x[x % 2 == 0]
print("Even numbers:")
print(even_numbers)

Even numbers:
1      2
3      4
5      6
7      8
9     10
11    12
13    14
15    16
17    18
19    20
21    22
23    24
dtype: int64

In [ ]:
# Select all the odd numbers
odd_numbers = x[x % 2 != 0]
print("Odd numbers:")
print(odd_numbers)

Odd numbers:
0      1
2      3
4      5
6      7
8      9
10    11
12    13
14    15
16    17
18    19
20    21
22    23
dtype: int64

In [ ]:
# Select numbers divisible by both 2 and 4 (which is equivalent to divisible by 4)
divisible_by_2_4 = x[(x % 2 == 0)&(x % 4 == 0)]
print("Numbers divisible by both 2 and 4:")
print(divisible_by_2_4)

Numbers divisible by both 2 and 4:
3      4
7      8
11    12
15    16
19    20
23    24
dtype: int64

MODIFYING ELEMENT

In [ ]:
data = pd.Series([10,20,40,30,50],index = ['a','b','c','d','e'])
print(data)

a    10
b    20
c    40
d    30
e    50
dtype: int64

In [ ]:
data['a'] = 15
print(data)
print()
data[1:3]=[25,35]
print(data)

a    15
b    20
c    40
d    30
e    50
dtype: int64

a    15
b    25
c    35
d    30
e    50
dtype: int64

In [ ]:
#series create karo jo divisble by 3&5
s1 = pd.Series(np.arange(5,50))
s2 = s1[(s1%3 == 0)&(s1%5 == 0)]
print(s2)

10    15
25    30
40    45
dtype: int64

In [ ]:
s1 = pd.Series([i for i in range(5,50) if i%3==0 or i%5==0])
print(s1)

0      5
1      6
2      9
3     10
4     12
5     15
6     18
7     20
8     21
9     24
10    25
11    27
12    30
13    33
14    35
15    36
16    39
17    40
18    42
19    45
20    48
dtype: int64

In [ ]:
#even numbers ko +5 karo
#series create karo jo divisble by 3&5
s1 = pd.Series(np.arange(3,50))
s2 = s1[(s1%2==0)]
s2+=5
print(s2)

1      9
3     11
5     13
7     15
9     17
11    19
13    21
15    23
17    25
19    27
21    29
23    31
25    33
27    35
29    37
31    39
33    41
35    43
37    45
39    47
41    49
43    51
45    53
dtype: int64

In [ ]:
#create a pandas series
data = pd.Series([1,2,3,4,5,6,7,8,9,10])
sq_values =[]
for value in data :
  sq_values.append(value**2)
sq_series = pd.Series(sq_values)
print(sq_series)

0      1
1      4
2      9
3     16
4     25
5     36
6     49
7     64
8     81
9    100
dtype: int64